<section class="hero">
    <div class="hero-content">
        @if (Model.Eyebrow is not null)
        {
            <p class="hero-eyebrow">
                @Model.Eyebrow
            </p> 
        }

        <h1>@Model.Title</h1>

        <p class="hero-subtitle">
            @Model.Subtitle
        </p>

        <div class="hero-actions">
            @if (Model.PrimaryAction is not null)
            {
                <a class="hero-primary-action"
                   href="@Model.PrimaryAction.Url">
                    @Model.PrimaryAction.Text
                </a>
            }

            @if (Model.SecondaryAction is not null)
            {
                <a class="hero-secondary-action"
                   href="@Model.SecondaryAction.Url">
                    @Model.SecondaryAction.Text
                </a>
            }
        </div>
    </div>
</section>

@code
{
    [Parameter, EditorRequired]
    public HeroModel Model { get; set; } = default!;
}